@charset "UTF-8";
/* звездочка означает что обращаемся ко всем тегам */
* {
  padding: 0;
  /*внутренний отступ*/
  margin: 0;
  /* внешний отступ */
  border: 0;
  /* границы */
}

/* меняеем подсчет ширины блока для удобной верстки */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* убираем линии обводки у некоторых браузеров */
:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

/* блоки ниже делаем блочными */
nav, footer, header, aside {
  display: block;
}

/* обращаемся к тегам и они уравнивают поведение шрифтом,
 запрещает увеличение шрифта у айфонов самовольно */
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-etxt-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* обращаемся к формам и просим наследовать
 семейство шрифта, т.к. по умолчанию этого нет */
input, button, textarea {
  font-family: inherit;
}

/* убирает некоторые особенности в разных браузерах
 убирает крестик в инпутах;
 убирает лишние отступы; чистятся стили маркированных списков */
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/* */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.hi {
  background-color: #445162;
  padding: 50px 0;
}

.hi__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hi__body {
  color: #ffffff;
  padding: 0 30px 0 0;
}

.hi__title {
  font-size: 60px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  margin: 0 0 32px 0;
}

.hi__list li {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  font-size: 20px;
  margin: 0 0 17px 0;
  background: url(/img/check_icon.png) left no-repeat;
  padding-left: 36px;
}

.hi__list li:last-child {
  margin: 0;
}

.whatFlexBox__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 51px 0 0 0;
}

.whatFlexBox__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 430px;
          flex: 0 0 430px;
}

.whatFlexBox__body {
  padding-left: 38px;
}

.whatFlexBox__title {
  margin-bottom: 36px;
}

.whatFlexBox__text {
  padding-right: 70px;
}

.whatFlexBox__text p {
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 36px;
}

.whatFlexBox__text p:last-child {
  margin-bottom: 46px;
}

.title {
  font-size: 30px;
  color: #445161;
}

.columnsFlex {
  background-color: #f5f5f5;
  padding: 50px 0 20px 0;
}

.columnsFlex__title {
  text-align: center;
  margin: 0px 0px 30px 0px;
}

.columnsFlex__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -8px;
}

.columnsFlex__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0 0 30px 0;
  padding: 0px 8px;
}

.item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
}

.item__body {
  padding: 0px 0px 0px 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item__title {
  color: #445161;
  font-size: 24px;
  margin: 0px 0px 15px 0px;
}

.item__text {
  color: #333333;
  font-size: 16px;
  line-height: 24px;
}

.vertical {
  padding: 50px 0 50px 0;
}

.vertical__title {
  text-align: center;
  margin: 0 0 29px 0;
}

.vertical__body {
  max-width: 990px;
  margin: 0 auto;
}

.vertical__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -22.5px;
}

.vertical__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
  padding: 0 22.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vertical__item {
  background-color: #445162;
  border-radius: 6px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.vertical__label {
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  padding: 18px 0 12px 0;
}

.vertical__sublabel {
  background-color: #ffffff;
  border: 2px solid #445162;
  color: #445162;
  font-size: 40px;
  text-align: center;
  padding: 17px 0;
}

.vertical__text {
  color: #ffffff;
  font-size: 14px;
  text-align: left;
  line-height: 24px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 17px 30px 23px 20px;
}

.vertical__text p {
  margin: 0 0 15px 0;
}

.vertical__text p:last-child {
  margin: 0;
}

.vertical__button {
  display: block;
  margin: 0 20px;
  color: #445161;
  height: 40px;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
  background-color: #ffffff;
  font-weight: bold;
  border-radius: 5px;
}

.footer {
  background-color: #f5f5f5;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 64px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__text {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.3px;
}
