@import "_nullStyle";

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	flex: 1 0 auto;
}
.container {
	max-width: 1180px;
	margin: 0 auto;
}
.content {
	flex: 1 1 auto;

}
.hi {
	background-color: #445162;
	padding: 50px 0;

		&__row {
			display: flex;
			justify-content: space-between;
		}

		&__body {
			color: #ffffff;
			padding: 0 30px 0 0;
		}

		&__title {
			font-size: 60px;
			text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
			margin: 0 0 32px 0;
		}

		&__list {
			li{
				text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
				font-size: 20px;
				margin: 0 0 17px 0;
				background: url(/img/check_icon.png) left no-repeat;
				padding-left: 36px;
			}
			li:last-child{
				margin: 0;
			}
		}

		&__img {
		}
}
.whatFlexBox {

	&__row {
		display: flex;
		padding: 51px 0 0 0;
	}

	&__img {
		flex: 0 0 430px;
	}

	&__body {
		padding-left: 38px;
	}

	&__title {
		margin-bottom: 36px;
	}

	&__text {
		padding-right: 70px;
		p{
			font-size: 16px;
			line-height: 24px;
			color: #333333;
			margin-bottom: 36px;
		}
		p:last-child{
			margin-bottom: 46px;

		}
	}
}
.container {
}
.title {
	font-size: 30px;
	color: #445161;
}

.columnsFlex {
	background-color: #f5f5f5;
	padding: 50px 0 20px 0;

	&__title {
		text-align: center;
		margin: 0px 0px 30px 0px;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -8px;

	}

	&__column {
		flex: 0 1 50%;
		margin: 0 0 30px 0;
		padding: 0px 8px;
	}

	&__item {
	}
}

.item {

	&__row {
		display: flex;
	}

	&__img {
		flex: 0 0 200px;
	}

	&__body {
		padding: 0px 0px 0px 15px;
		flex: 1 1 auto;
		

	}

	&__title {
		color: #445161;
		font-size: 24px;
		margin: 0px 0px 15px 0px;
	}

	&__text {
		color: #333333;
		font-size: 16px;
		line-height: 24px;
	}
}





.container {
}



.vertical {
	padding: 50px 0 50px 0;

	&__title {
		text-align: center;
		margin: 0 0 29px 0;
	}
	&__body {
		max-width: 990px;
		margin: 0 auto;
	}

	&__row {
		display: flex;
		margin: 0 -22.5px;
	}

	&__column {
		flex: 0 1 33.33%;
		padding: 0 22.5px;
		display: flex;
	}

	&__item {
		background-color: #445162;
		border-radius: 6px;
		padding-bottom: 20px;
		display: flex;
		flex-direction: column;
	}

	&__label {
		color: #ffffff;
		font-size: 24px;
		text-align: center;
		text-transform: uppercase;
		padding: 18px 0 12px 0;
	}

	&__sublabel {
		background-color: #ffffff;
		border: 2px solid #445162;
		color: #445162;
		font-size: 40px;
		text-align: center;
		padding: 17px 0;
	}

	&__text {
	color: #ffffff;
	font-size: 14px;
	text-align: left;
	line-height: 24px;
	flex: 1 1 auto;
	padding: 17px 30px 23px 20px;
	p{
		margin: 0 0 15px 0;
	}
	p:last-child{
		margin: 0;
	}
	}

	&__button {
	display: block;
	margin: 0 20px;
	color: #445161;
	height: 40px;
	font-size: 18px;
	text-align: center;
	line-height: 40px;
	background-color: #ffffff;
	font-weight: bold;
	border-radius: 5px;
	}
}
.container {
}
.title {
}

.item {
}

.footer {
	background-color: #f5f5f5;

	&__row {
		display: flex;
		height: 64px;
		align-items: center;
		justify-content: center;
	}

	&__text {
		font-size: 12px;
		line-height: 24px;
		letter-spacing: 0.3px;
	}
}








